// Variables
$main-bg-grey: #f5f5f5;  // Adjust this value to match your design
$main-grey: #333;        // Adjust this value to match your design
$light-grey: #999;       // Adjust this value to match your design
$title-small: 1.5rem;    // Adjust this value to match your design

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles
.main-nav {
  height: 3.5rem;
  // background-color: $main-bg-grey;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 0 10rem;
  }

  &__search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  &__search-input {
    color: $very-dark-grey;
    background-color: transparent;
    border: none;
    text-align: right;
    padding: 0;
    padding: 0.8rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $light-grey;
    }

    // Remove search input decorations
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &__search-button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: rgb(158, 157, 157);
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    cursor: pointer;
    transition: color 0.2s ease;
    position: relative;
    z-index: 1;

    &:hover {
      color: $very-dark-grey;
    }

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      z-index: -1;
    }
  }

  &_search-container {
    position: relative;
  }

  &__search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $main-bg-grey;
    border: 1px solid #ddd;
    border-top: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
  }

  &__search-results li {
    text-align: right;
    padding: 0.5rem;
    cursor: pointer;
  }

  &__search-results li:hover {
    background-color: $light-bg-grey;
  }

  &__title-spacing {
    display: flex;
  }

  &__link {
    text-decoration: none;

    .main-nav__title {
      font-size: 1rem;
      margin: 0;
      color: $light-grey;
      padding-right: 1rem;

      &:hover {
        color: $very-dark-grey;
      }
    }

    &.main-nav__link--active {
      .main-nav__title {
        color: $very-dark-grey
      }
    }
  }
}
