$main-black: rgb(35, 35, 35);

$very-dark-grey: rgb(78, 77, 77);
$dark-grey: rgb(110, 109, 109);
$main-grey: rgb(158, 157, 157);
$light-grey: rgb(209, 207, 207);

$main-white: rgb(236, 231, 231);

$main-bg-white: white;
$main-bg-grey: rgb(248, 249, 250);
$light-bg-grey: rgb(233, 233, 233)
