.card-text-italic {
  color: $dark-grey;
  font-style: italic;
  font-size: 0.7rem;
  margin: 0;
  padding-bottom: 1rem;
}

.card-title-small {
  color: $dark-grey;
  font-size: 0.9rem;
}

.index-card {
  margin-bottom: 10px;
}

.index-card-margin {
  margin-top: 2rem;
}

.index-card-margin:first-child {
  margin-top: 0;
}
